<div class="columns">
    <div class="column is-1 side-panel-wrap">
        <nav class="panel side-panel">
            <p class="panel-heading">
                <a class="awd-title">
                    <i class="fas fa-drafting-compass"></i>
                </a>
            </p>
            <div class="icon-item">
                <p><i class="fas fa-plus-square"></i></p>
                <span>Empty Node</span>
            </div>
            <div class="icon-item">
                <p><i class="far fa-play-circle"></i></p>
                <span>Start Node</span>
            </div>
            <div class="icon-item">
                <p><i class="far fa-stop-circle"></i></p>
                <span>End Node</span>
            </div>
            <div class="icon-item">
                <p><i class="fas fa-code-branch"></i></p>
                <span>Merge Node</span>
            </div>
            <div class="icon-item">
                <p><i class="fab fa-python"></i></p>
                <span>Python Node</span>
            </div>
            <div class="icon-item">
                <p><i class="fas fa-terminal"></i></p>
                <span>Shell Node</span>
            </div>
            <div class="icon-item">
                <p><img src="assets/spark.png"><p></p>
                <span>Spark Node</span>
            </div>
            <div class="icon-item">
                <p><img src="assets/revo.jpg"><p>
                        <span>Revo Nodes</span>
                        <div class="select is-small">
                            <select>
                                <option disabled selected>Choose Job Type</option>
                                <option>File Check</option>
                                <option>Ingestion</option>
                                <option>BRE</option>
                                <option>Export</option>
                                <option>Archive</option>
                            </select>
                        </div>
            </div>
        </nav>
    </div>
    <div class="column designer-wrap">
        <nav class="navbar main-nav is-link" role="navigation" aria-label="main navigation">
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable hover-list">
                        <a class="navbar-link">More</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item"><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit Project</a>
                            <a class="navbar-item"><i style="color: #85325E"
                                    class="fab fa-github-alt"></i>&nbsp;&nbsp;Fork on
                                Github</a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">Report an issue</a>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary is-small"><strong>switch project</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>